body {
    margin: 0;
    padding: 0;
}

.tab-nav {
    display: flex;
    padding: 12px;
    height: fit-content;
    justify-content: space-between;
}

.logo-home {
    display: flex;
    align-items: center;
}

.logo-home img {
    width: 10%;
}
.logo-home span {
    margin: 4px;
    font-size: 32px;
    color: #0055A4;
    font-weight: 800;
}

.menu {
    display: flex;
    align-items: center;
}

.menu button{
 margin: 16px;
 font-size: 16px;
 background-color: transparent;
 font-weight: 800;
 border: none;
}

.menu button:hover{
    font-size: 16px;
    background-color: #EF4135;
    color: #d4d4d4;
    cursor: pointer;
   }