* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #d4d4d4;
}

.tab-nav {
    display: flex;
    padding: 12px;
    justify-content: space-between;
    background-color: transparent;
    text-transform: uppercase;
}

.logo-home {
    display: flex;
    align-items: center;
}

.logo-home img {
    width: 7.5rem;
}


.menu {
    display: flex;
    align-items: center;
}

.menu button{
 margin: 16px;
 font-size: 16px;
 background-color: transparent;
 border-radius: 3rem;
 width: 15rem;
 color: black;
 font-weight: 800;
 border: none;
}

.menu button:hover {
    font-size: 16px;
    background-color: #EF4135;
    border-radius: 3rem;
    width: 15rem;
    height: 3rem;
    color: #d4d4d4;
    cursor: pointer;
   }

   
/*
ESSA PARTE NÃO ESTÁ 100% responsiva OK!
*/
.medal_section {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 12px;
    background-color: #d4d4d4;
   }

table {
    width: 50%;
    border: none;
    border-collapse: collapse;
    text-transform: uppercase;
    margin: 4px;
   }

   table th {
    height: 40px;
   }

table td {
    height: 24px;
    border: 1px solid #0055A4;
    font-weight: 600;
}

.quant_medals{
    text-align: center;
}

table img {
    margin: 6px;
    width: 2rem;
    vertical-align: middle;
}
/*
nesse elemento brasil position será adicionado um estilo destaque para o brasilzão
*/

.brasil_position {
    background-color: #93bf85;
}


.unfinished {
    text-decoration:  line-through;
    text-decoration-color: black;
    text-decoration-thickness: 4px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 24px;
    font-size: 1rem;
    font-weight: 700;
    position: sticky;
}


.links {
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
}


.links a{
    margin: 4px;
    font-size: 16px;
    background-color: transparent;
    text-decoration: none;
    border-radius: 3rem;
    color: black;
    font-weight: 800;
    border: none;
   }
   
.links a:hover {
       font-size: 16px;
       background-color: #EF4135;
       border-radius: 3rem;
       color: #d4d4d4;
       cursor: pointer;
      }
